[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==5.2.3"
pillow = "*"
django-extensions = "*"
python-barcode = "*"
faker = "*"
python-escpos = "*"
pyusb = "*"

[packages.windows]
pywin32 = "*"

[dev-packages]

[requires]
python_version = "3.11"
